@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* root value for overall project */

:root {
  /* Inter Font */
  --font-inter: 'Inter', sans-serif;

  /* scroll bar */
  --scroll-thumb: rgba(0, 0, 0, 0.2);
  --scroll-thumb-hover: rgba(0, 0, 0, 0.35);
}
/* scroll bar dark mood */
.dark {
  --scroll-thumb: rgba(255, 255, 255, 0.2);
  --scroll-thumb-hover: rgba(255, 255, 255, 0.4);
}

/* body values */

body {
  font-family: var(--font-inter);
}



/*----------- this is for icons-------------- */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url('/fonts/material-symbols-outlined.woff2') format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* ------------------------------------------- */


/* ------------------Modern Scrollbar---------- */
.custom-scrollbar {
  overflow-y: auto;
}

/* Overlay scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  position: absolute;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 9999px;
  border: 2px solid transparent; /* helps make it feel overlay */
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover);
}
/* ------------------------------------------- */
