.logout-icon{
    font-size: 19px !important;
}
.selected-menu-bg{
  background-color: #133441;
}

.header-glassy-background{
  background-color: rgb(246 248 248 / 0.8);
}

.dark .header-glassy-background{
  background-color: rgb(16 29 34 / 0.9);
} 

.datacard-icon{
  font-size: 12px !important;
}