:root {
  /* existing */
  --metric-icon-color: 0 0 0; /* light → black */
}

.dark {
  --metric-icon-color: 255 255 255; /* dark → white */
}

.logout-icon{
    font-size: 19px !important;
}
.selected-menu-bg{
  background-color: #133441;
}
.selected-menu-text{
  color: var(--card-menu-text);
}

.selected-menu{
   color: #ffff;
}
.dark .selected-menu{
    color: var(--card-menu-text);

}

.header-glassy-background{
  background-color: rgb(246 248 248 / 0.8);
}

.dark .header-glassy-background{
  background-color: rgb(16 29 34 / 0.9);
} 

.datacard-icon{
  font-size: 12px !important;
}


.metric-card-icon {
  font-size: var(--metric-icon-size, 60px) !important;
  color: rgb(var(--metric-icon-color) / 1);
}


/* Tablet (768px – 1280px) */
@media (min-width: 768px) and (max-width: 1280px) {
  .metric-card-icon {
    font-size: 48px !important;
  }
}