:root {
  --card-primary-text: #ffffff;
  --card-secondary-text: #9db2b9;
  --card-menu-text: #006686;

  --card-bg: 24 40 47; 
  --bg-primary: 0 102 134;
}

/* Card styles */
.card-bg {
  background-color: rgb(var(--card-bg) / 1);
}

.card-title {
  color: var(--card-primary-text);
}

.card-subtitle {
  color: var(--card-secondary-text);
}
.selected-menu-text{
  color: var(--card-menu-text);
}

.border-primary{
  border-color: var(--card-menu-text);
}

.bg-primary{
  color: rgb(var(--bg-primary) /1)
}

.bg-primary-10 {
  background-color: rgb(var(--bg-primary) / 0.1);
}
